<!DOCTYPE html>
{% extends "index2.html" %}
    {% block body_block%}
{% load staticfiles %}

<div class="container" xmlns="http://www.w3.org/1999/html" style="padding-top:150px">
    <div class="jumbotron">
        <a href="{% url 'filter' %}"><input type="button" value="Filter"></a>

        <table border="0">
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'userview' object.id %}"> {{object.name}}</a></td>
            </tr><br>
        {% endfor%}
        </table>
    </div>
</div>


{% endblock %}
